<div class="panel panel-default">
  <div class="panel-body">
    <div class="row margin-bottom-md">
      <div class="col-md-4">
        <h3>Delete Group {{ model.name}}</h3>
      </div>
    </div>

    <div class="row margin-bottom-md">
      <div class="col-md-4">
        Deleting a group is not reversible.
      </div>
    </div>

    <div class="row margin-bottom-md">
      <div class="col-md-4">
        {{#bs-button type="danger" icon="glyphicon glyphicon-trash" action='deleteGroup'}}
          Delete
        {{/bs-button}}
      </div>
    </div>
  </div>
</div>

