<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        {{#x-select class="form-control"}}
          {{#x-option}}6 Hours{{/x-option}}
        {{/x-select}}
      </div>
    </div>

    <div class="row margin-bottom-md">
      <div class="col-md-12">
        <h4>Scaling History</h4>
      </div>
    </div>

    <div class="row margin-bottom-lg">
      <div class="col-md-12">
        {{c3-chart data=resourceStatus.data axis=resourceStatus.axis grid=resourceStatus.grid point=resourceStatus.point}}
      </div>
    </div>

    <div class="row margin-bottom-md">
      <div class="col-md-12">
        <h4>Load History</h4>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12">
        {{c3-chart data=metricStatus.data axis=metricStatus.axis grid=metricStatus.grid point=metricStatus.point}}
      </div>
    </div>

  </div>
</div>
