<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}
        Auto Scale
      {{/link-to}}
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        {{#active-link}}
          {{link-to "Groups" "groups"}}
        {{/active-link}}

        {{#active-link}}
          {{link-to "Templates" "templates"}}
        {{/active-link}}

      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="dashboard-content">
    {{outlet}}
  </div>
</div>



