<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Template</th>
      <th>Metric Type</th>
      <th>Policy Type</th>
    </tr>
  </thead>

  <tbody>
    {{#each models.groups as |group|}}
      <tr>
        <td>{{group.name}}</td>
        <td>{{group.templateName}}</td>
        <td>{{group.metricType}}</td>
        <td>{{group.policyType}}</td>
        <td>
          {{#bs-dropdown}}
            {{#bs-dropdown-toggle}}
              <span class="caret"></span>
            {{/bs-dropdown-toggle}}
            {{#bs-dropdown-menu}}
              <li>
                {{#link-to "groups.delete" group}}
                  Delete
                {{/link-to}}
                </li>
            {{/bs-dropdown-menu}}
          {{/bs-dropdown}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
