<div class="row">
  <div class="col-md-12">
    <h3>{{model.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    {{ group-menu model=model }}
  </div>
  <div class="col-md-10">
    {{ yield }}
  </div>
</div>