{{#bs-dropdown tagName="li"}}
  {{#bs-dropdown-toggle}}
    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
    <span class="badge">{{notifications.length}}</span>
  {{/bs-dropdown-toggle}}
  {{#bs-dropdown-menu}}
  {{/bs-dropdown-menu}}
{{/bs-dropdown}}