<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ template.name }}</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Region</th>
          <th>Size</th>
          <th>Image</th>
          <th>SSH Keys</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{template.region}}</td>
          <td>{{template.size}}</td>
          <td>{{template.image}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>