<div class="row">
  <div class="col-md-12">
    {{#bs-button type="primary" action="addTemplate"}}
    Create Template
    {{/bs-button}}
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Region</th>
      <th>Size</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each models.templates as |template|}}
      <tr>
        <td>{{template.region}}</td>
        <td>{{template.size}}</td>
        <td>{{template.image}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{template-create
    show=showCreateForm
    userConfig=models.userConfig
    onCreate=(route-action 'createTemplate') }}

